.ExperienciaContenedor{
padding: 10px;
}

.ExperienciaSeccion{
    background-color: brown;
}

.listaEstudiosExperienciaContendor{
display: grid;
grid-template-columns: 1fr 1fr;
justify-content: center;
gap: 20px;
}
li{
    list-style: none;
    color: white;
}

.listaEstudiosExperiencia {
    border-radius: 10px;
    background-color: rgb(202, 168, 18);
    text-align: center;
    padding: 10px;
}

@media (max-width: 600px) {
    .listaEstudiosExperienciaContendor{
        grid-template-columns: 1fr;
       
        }
}

.primerTexto{
    margin-top: 0;
    padding: 10px;
}