.MiHistoriaContenedor {
background-color: rgb(43, 99, 204);
display: grid;
}

.historiaContenedor {
display: flex;
justify-content: center;
gap: 40px;
}

.textoHistoria {
    max-width: 500px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

@media(max-width:900px) {
    .historiaContenedor {
        display: grid;
        }
}